.absolute {
	padding: calc(12 / 16 * 1rem);
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(320 / 16 * 1rem);
}
.text {
	white-space: pre;
	tab-size: 2;
	font: calc(12 / 16 * 1rem) / 1.25 Monaco, monospace;
}
