.absolute {
	padding: calc(8 / 16 * 1rem);
	position: absolute;
	right: 0;
	bottom: 0;
	user-select: none;
}
.absolute[data-show="false"] {
	display: none;
}
.text {
	white-space: pre;
	tab-size: 2;
	font: calc(12 / 16 * 1rem) / 1.25 Monaco, monospace;
}
